#div1
{
    position: relative;
    margin: 10px auto;
    width: 1360px;
    height: 308px;
    overflow: hidden;
}
#div1 ul
{
    position: absolute;
    left:0;
}
#div1 ul li
{
    float:left;
    padding: 10px;
    list-style: none;
    width: 535px;
    height: 308px;
    margin-left: 30px;
}
#div1 ul li img
{
    width: 535px;
    height: 308px;
}
.spacing{
    width: 50px;
}

#popDiv{
    display: none;
    /*z-index: 11;*/
    /*width: 1038px;*/
    /*height: 500px;*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    position: fixed;
    z-index: 9999;
    background: rgba(33, 33, 33, .8);
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#popDiv img{
    width: 1000px;
    height: 500px;
}

#popDiv1{
    display: none;
    /*z-index: 11;*/
    /*width: 1038px;*/
    /*height: 500px;*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    position: fixed;
    z-index: 9999;
    background: rgba(33, 33, 33, .8);
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#popDiv1 img{
    width: 1000px;
    height: 500px;
}

#popDiv2{
    display: none;
    /*z-index: 11;*/
    /*width: 1038px;*/
    /*height: 500px;*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    position: fixed;
    z-index: 9999;
    background: rgba(33, 33, 33, .8);
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#popDiv2 img{
    width: 1000px;
    height: 500px;
}

#popDiv3{
    display: none;
    /*z-index: 11;*/
    /*width: 1038px;*/
    /*height: 500px;*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    position: fixed;
    z-index: 9999;
    background: rgba(33, 33, 33, .8);
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#popDiv3 img{
    width: 1000px;
    height: 500px;
}

#popDiv4{
    display: none;
    /*z-index: 11;*/
    /*width: 1038px;*/
    /*height: 500px;*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    position: fixed;
    z-index: 9999;
    background: rgba(33, 33, 33, .8);
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#popDiv4 img{
    width: 1000px;
    height: 500px;
}

#popDiv5{
    display: none;
    /*z-index: 11;*/
    /*width: 1038px;*/
    /*height: 500px;*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    position: fixed;
    z-index: 9999;
    background: rgba(33, 33, 33, .8);
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#popDiv5 img{
    width: 1000px;
    height: 500px;
}


.close{
    width: 50px;
    height: 20px;
    float: right;
    text-align: center;
}

.imgs{
    float: left;
}

/*.right_logo {
    width: 30px;
    height: 30px;
    background: transparent url(../img/img_1/carousel-arrows-light.jpg) no-repeat top right;
    float: right;
}
.left_logo {
    width: 30px;
    height: 30px;
    background: transparent url(../img/img_1/carousel-arrows-light.jpg) no-repeat top left;
    float: left;
}*/
.right_logo{
    text-align: center;
    width: 100px;
    height: 30px;
    /*background: #0086f1;*/
    background: #0086F1;
    box-shadow: 0px 5px 9px 1px rgba(56, 255, 153, 0.35);
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Microsoft YaHei;
}
.right_logo:hover{
    background-color: #00008b;
}
.left_logo{
    text-align: center;
    width: 100px;
    height: 30px;
    /*background: #0086F1;*/
    background: #0086F1;
    box-shadow: 0px 5px 9px 1px rgba(56, 255, 153, 0.35);
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Microsoft YaHei;
}
.left_logo:hover{
    background-color: #00008b;
}




#max{
    /*85*/
    width: 85%;
    /*49rem*/
    height: 49rem;
    align-items: center;
    margin: 5% auto;
    margin-top: 0%;
    margin-top: 11vh;
}
.re{
    position: relative;
    height: 100%;
    width: 100%;
}
.re ul{
    list-style-type:none ;
}

.re ul>li{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    opacity: 0;
}
.re ul>li img{
    width: 100%;
    height: 100%;
//border-radius: 10%;
    /*border: 15px solid #fffbd6;*/
}
#max ol {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,75px);
    grid-template-rows: auto;
    grid-gap: 1em;gap: 1em;
    float: right;
    margin-top: 45%;
    list-style: none;
    top:0;left:0;
}

#max ol li {
    width: 25px;
    height: 10px;
    font-size: 15px;
    line-height: 20px;
    float: left;
    text-align: center;
    border-radius: 2em;
    border: 5px solid #999999;
}
