.header {
    width: 100%;
    height: 72px;
    background: #fff;
  }
  
  .logo-box {
    width: 1200px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
  }
  
  .logo-color-left {
    display: block;
    margin-right: 20px;
  }
  
  .logo-color-left img {
    height: 70px;
    width: 70px;
  }
  
  .logo-color-right img {
    height: 22px;
    width: 22px;
    margin-right: 8px;
    margin-top: 3px;
  }
  
  .small-box {
    display: flex;
    align-items: center;
  }
  .animation-zoom{
    animation: scaleDraw 5s ease-in-out infinite;
  }
  @keyframes scaleDraw {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
  }
  
  .logo-box-text-left {
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #787878;
  }
  
  .logo-box-text-right {
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #0086F1;
  }
  

.banner-left-data {
    display: flex;
    align-items: center;
  }
  
  .head-conter {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 86px;
  }
  
  .head-conter-right {
    width: 260px;
    height: 200px;
    background: pink;
  }
  
  .head-conter-right ul li {
    list-style-type: none
  }
  
  .head-conter-right-in22 {
    margin-bottom: 5px;
    display: flex;
  
  }
  
  .head-conter-right-in .icon1 {
    width: 60px;
  }
  
  .header-tabs {
    overflow: hidden;
    width: 520px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-color: rgba(119, 119, 119, 0.2);
    align-items: center;
  }
  
  .header-tabs li a {
    font-size: 17px !important;
    padding: 0px 0px;
    font-weight: 400;
    color: #333333;
    line-height: 36px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .header-tabs-current a {
    color: #237DE1 !important;
  }

/* 视频播放 */

.video-mask {
  position: fixed;
  z-index: 9999;
  background: rgba(33, 33, 33, .8);
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.videoCanvas {
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.video-shut {
  position: absolute;
  height: 32px;
  width: 32px;
  margin: 10px 10px 0 0;
  right: 0px;
  text-align: center;
  display: block;
  z-index: 9999;
  cursor: pointer;
  /*display: none;*/
}


  @media screen and (max-width : 1200px) {
    .logo-box {
        width: 90%;
    }
    .logo-color-left {
        margin-right: 10px;
    }
    .logo-color-left img {
        width: 100px;
        object-fit: contain;
    }
    .logo-box-text-left {
        width: 84px;
        font-size: 14px;
    }
    .header-tabs {
        padding: 0 10px;
    }
    .logo-color-right img {
        width: 18px;
        height: 18px;
    }
    .logo-box-text-right {
        font-size: 14px;
    }
  }