<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>$Class_Title$_$web_name$</title>
<meta name="keywords" content="$Class_Keywords$" />
<meta name="description" content="$Class_Description$" />
<link href="/css/$web_theme$/Minner.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/Mcommon.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/Mfunctions.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body>
<!--head start-->
<div id="head">

<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>

<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--top end-->
<div class="clearfix"></div>
</div>
<!--head end-->
<div id="wrapper">
<!--nav start-->
<div id="NavLink">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
<div class="clearfix"></div>
</div>
<!--nav end-->
<div class='clearfix'></div>
<!--body start-->
<div id="body">
<div class="HeightTab clearfix"></div>
<!--inner start -->
<div class="inner">
<!--left start-->
<div class="left">
<div class="Sbox">
<div class="topic">$ClassName1$</div>
<div class="ClassNav">
<div class="NavTree">
$Block_LeftClassList$
<div class='clearfix'></div>

</div>
</div>

</div>
<div class="HeightTab clearfix"></div> 
</div>
<!--left end-->
<!--right start-->
<div class="right">
<div class="Position"><span>你的位置：<a href="/">首页</a> > $Class_Position$</span></div>
<div class="HeightTab clearfix"></div>
<!--main start-->
<div class="main">

<!--content start-->
<div class="content">
<nav> 
<div class="MorePro">
<div class="CaseBlock">
<ul>
$list_block$
</ul>
</div>
<div class="clearfix"></div>
$list_page$
</div>
</nav> 

</div>
<!--content end-->

</div>
<!--main end-->
</div>
<!--right end-->
</div>
<!--inner end-->
</div>
<!--body end-->
<div class="clearfix"></div>
<!--footer start-->
<div id="footer">

<div class="inner">
<div class='InnerLeft'>
$web_BottomHTML$
</div>


<div class='clearfix'></div>
</div>
</div>
<!--footer end -->


<!--HituxBar start-->
<div class="HituxBar_com_position">
<div class="HituxBar_com_chat wp">
<ul>
$web_BottomMenu$
</ul>
</div>
<div class='clearfix'></div>
</div>
</div>
<!--HituxBar end-->

</div>


</body>
</html>
<!--
Powered By HituxCMS ASP V2.1 Mobile 
-->